.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
    background-color: black; 
}
h1 {
    color: white; 
}
#bigbox {
	background-color: blue;
	padding: 10px;
}
#box1 {
	background-color: darkgray;
	float: left;
}
#box2 {
	background-color: dimgray;
	float: left;
}
.box {
	background-color: white;
	float: left;
}
span {
	color: white;
}
span:nth-child(odd){
	color: blue;
}