.clearfix {
  clear: both;
}
wrapper {
	padding: 10px;
	background-color: yellow;
	display: flex;
	flex-direction:column;
	min-height: 500px;
}
header {
	background-color: red;
	padding: 10px
}
main-wrapper {
	background-color: pink;
	display: flex;
	flex: 1; 
}
left {
	background-color: green;
	padding: 10px;
}
nav {
	
}
.button {
    display:block;
    background-color:black;
    text-decoration:none;
    color:white;
    padding:10px;
    border:1px solid white;
}
.button:hover {
    background-color:yellow;
}
main {
	background-color: white;
	padding: 10px;
	flex: 1;
}
.right, .left {
flex: 0 0 12em;

}
footer {
	background-color: gray;
	padding: 10px
}